{% extends "base.html" %}
{% block header %}
{#    {{ block.super }} #}
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center d-flex align-items-center h-100">
        <div class="col-md-4 ">
            {% include "app/includes/forms/login.html" %}
        </div>
    </div>

{% endblock %}
