{% extends 'app/base.html' %}
{% load templatetags %}
{% block content %}
    {% block events %}
        <div class="events mt-2">
            <div class="events__title title">
                <div class="row d-flex justify-content-between">
                    <div class="col-6">
                        <h1>Уведомления</h1>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        {% block notices__clear %}
                        <a href="#" data-action="{% url 'vendor:notices' %}" class="js-notices-clear btn btn-success btn-sm">Отметить все прочитанными</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="events-items">
                {% for notice in notices %}
                    {% if notice.is_active %}
                        <div class="event-item alert alert-secondary alert-dismissible fade show" role="alert">
                            <div class="event-item__created">
                                {{notice.event.pub_date |date:'H:i d-m-Y'}}
                            </div>
                            <div class="event-item__title">
                                <strong>{{ notice.title |safe}}</strong>
                                {% if notice.link %}
                                    <div>
                                        {{ notice.link | safe}}
                                    </div>
                                {% endif %}
                            </div>
                            {% if notice.description %}
                                <hr>
                                <div class="event-item__description">
                                    {{ notice.description }}
                                </div>
                            {% endif %}
                            {% block button-notice__disable %}
                                <button type="button" class="close js-notice-disable" data-dismiss="alert"
                                        aria-label="Close" data-action="{% url 'vendor:notice_detail' pk=notice.pk %}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            {% endblock %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
