{% load static %}
{% load templatetags %}
<div class="col">
    <div class="row justify-content-between mb-4 mt-4">
        <div class="logo col d-flex align-items-center">
            <div class="logo__image">
                <img src="{% static 'i/logo.png' %}" alt="">
            </div>
            <div class="flex-grow-1 logo__text ml-4 h5">
                Электронная<br> тендерная<br> площадка
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-9 h6">По вопросам работы площадки звоните: <br>8 800 250 30 10</div>
                <div class="col-3 d-flex flex-column align-items-end">
                    {% if user.is_authenticated %}
                        <div>
                            {{ user.username }}
                        </div>
                        <div>
                            <a href="{% url 'logout' %}">Выход</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col menu">
            {% if menu %}
                <ul class="menu__list nav nav-pills nav-fill">
                    {% for item in menu.items %}
                        <li class="menu__list-item nav-item border border-secondary menu__item">
                            {% if item.title == "notices" and menu.notices_count > 0 %}
                                <a href="{% url item.url %}"
                                   class="nav-link menu__list-link">{{ item.name }}<span
                                        class="js-notice-count"> (<i>{{ menu.notices_count }}</i>)</span></a>
                            {% elif item.title == "rooms" and menu.messages_count > 0 %}
                                <a href="{% url item.url %}"
                                   class="nav-link menu__list-link">{{ item.name }}<span
                                        class="js-notice-count"> (<i>{{ menu.messages_count }}</i>)</span></a>
                            {% else %}
                                <a href="{% url item.url %}" class="nav-link menu__list-link">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
