{% load templatetags %}
{% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="pagination-label">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.previous_page_number }}&{% save_page_get_params %}">Пред.</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Пред.</a>
                        </li>
                    {% endif %}
                    {% for page_num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_num == page_obj.number %}active{% endif %}"><a class="page-link"
                                                                                                       href="?page={{ page_num }}&{% save_page_get_params %}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&{% save_page_get_params %}">След.</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">След.</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endif %}
