{% load widget_tweaks %}
{% if filter %}
    <form action="{{ request.path }}">
        <div class="row">
            <div class="col filter">
                <div class="row filter__top d-flex justify-content-between align-items-end">
                    <div class="col">
                        <label for="{{ filter.form.code.name }}">номер тендера</label>
                        {% render_field filter.form.code class+="form-control" type="text" %}
                    </div>
                    <div class="col">
                        <label for="{{ filter.form.date_start.name }}">начало тендера</label>
                        {% render_field filter.form.date_start class+="form-control" placeholder=filter.form.date_start.label type="date" %}
                    </div>
                    <div class="col">
                        <label for="{{ filter.form.status.name }}">статус тендера</label>
                        {% render_field filter.form.status class+="form-control" %}
                    </div>
                    <div class="col">
                        <label for="{{ filter.form.vehicle.name }}">тип загрузки</label>
                        {% render_field filter.form.vehicle class+="form-control" placeholder=filter.form.vehicle.label %}
                    </div>
                    {% if filter.form.limit %}
                        <div class="col">
                            <label for="{{ filter.form.limit.name }}">Показать последние:</label>
                            {% render_field filter.form.limit class+="form-control" placeholder="до 500" %}
                        </div>
                    {% endif %}
                    {#                <div class="col-2">тип тендера</div>#}
                    <div class="col d-flex align-items-end justify-content-end">
                        <button type="submit" class="btn btn-secondary pl-4 pr-4 w-100">поиск</button>
                    </div>
                </div>
                <div class="row filter__bottom mt-4">
                    <div class="col-5 filter__count">
                        <div class="row d-flex h-100 align-items-center">
                            <div class="col">
                                <span>Отобрано по параметрам: </span><span>{{ filter.qs | length }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row d-flex align-items-center filter-view justify-content-end">
                            <div class="col-5 col-sm-5 hidden">
                                <div class="row d-flex align-items-center">
                                    <div class="col-sm-6">
                                        Форма вывода:
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#" class="js-list-list filter-view__link-list"><i
                                                class="fas fa-th-list"></i></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#"
                                           class="js-list-table filter-view__link-table {{ params.table_view|yesno:"m--active," }}">
                                            <i class="fas fa-table"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 col-sm-7">
                                <div class="row form-group mb-0 d-flex align-items-center">
                                    <label for="per_page" class="col-sm-4 col-form-label text-right">На страницу:</label>
                                    <div class="col-sm-8">
                                        {% if filter.per_page %}
                                            <select class="form-control" name="per_page">
                                                {% for page in filter.per_page %}
                                                    <option value="{{ page.0 }}"
                                                            {% if request.GET.per_page == page.0 %}
                                                            selected="selected"
                                                            {% elif not request.GET.per_page and filter.default_per_page == page.0 %}
                                                            selected="selected"
                                                            {% endif %}
                                                    >{{ page.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}
