{% extends 'app/interfaces/profile/profile.html' %}
{% block profile__content %}
    <div class="row mb-4 mt-4">
    <div class="col-7">
        <table class="table-borderless">
            <tbody>
            <tr>
                <td width="100"><b>ФИО:</b></td>
                <td>
                    {{ request.user.firstname }}
                </td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ request.user.email }}</td>
            </tr>
            <tr>
                <td><b>Логин:</b></td>
                <td>{{ request.user.username }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
