{% extends 'app/interfaces/profile/profile.html' %}
{% block profile__content %}
    <div class="row mb-4 mt-4">
    <div class="col-7">
        {#        <p class="h4 mb-3">Контактное лицо</p>#}
        <table class="table-borderless">
            <tbody>
            <tr>
                <td width="100"><b>ФИО:</b></td>
                <td>
                    {% if request.user.is_superuser %}
                        {{ request.user.firstname }}
                    {% else %}
                        {{ request.user.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Телефон:</b></td>
                <td>{{ vendor.phone }}</td>
            </tr>
            <tr>
                <td><b>E-mail:</b></td>
                <td>{{ vendor.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
