{% extends 'base.html' %}
{% load widget_tweaks %}
{% load templatetags %}
{% load rest_framework %}

{% block content %}
    <div class="row">
        <div class="col">
            {% block user__messages %}
                {% if messages %}
                    <div class="text-alert">
                        {% for message in messages %}
                            {% get_bootstrap_alert_msg message.tags as alert_tag %}
                            <div class="alert alert-{{ alert_tag }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
            <div class="user-list mt-4">
                {% block button__create %}
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-light btn-block rounded-0 js-vendor-create">Добавить пользователя</button>
                        </div>
                    </div>
                {% endblock %}
                {% block user__list %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block user__list-form %}
        {% block form-hidden %}
            <div class="form-wrapper d-none js-form-wrapper">
                <form class="js-form-hidden form-horizontal"
                      action="{% block form-hidden__action %}{% endblock %}"
                      enctype="multipart/form-data"
                      method="POST">
                    {% csrf_token %}
                    {% render_form serializer template_pack='app/includes/forms/standart' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0">
                            {% block form-hidden__button %}
                                <button type="submit" class="btn btn-success js-form-submit">Добавить
                                </button>
                            {% endblock %}
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
