<div class="form-group row horizontal-checkbox {% if field.errors %}has-error{% endif %}">
    <!-- <div class="row"> -->
      {% if field.label %}
        <label class="col-sm-2 control-label {% if style.hide_label %}sr-only{% endif %}">
          {% if field.required %}<span class="text-danger font-weight-bold lead">*</span>{% endif %} {{ field.label }}
        </label>
      {% endif %}

      <div class="col-sm-10">
        <input class="m--name-{{ field.name }} js-form-field js-form-field__checkbox" type="checkbox" name="{{ field.name }}" value="{% if field.value or field.default %}true{% else %}false{% endif %}" {% if field.value or field.default %}checked{% endif %}>
         <div class="col-sm-10">
            <small class="js-field-error text-danger">
            </small>
          </div>


        {% if field.errors %}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        {% endif %}

        {% if field.help_text %}
          <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
      </div>
    <!-- </div> -->
</div>
