<div class="form-group row {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label class="col-sm-10 control-label {% if style.hide_label %}sr-only{% endif %}">
            {% if field.required %}<span class="text-danger font-weight-bold lead">*</span>{% endif %} {{ field.label }}
        </label>
    {% endif %}

    <div class="col-sm-10">
        {% if style.input_type == "file" %}
            <input class="m--name-{{ field.name }} js-form-field js-form-field__file" name="{{ field.name }}" type="{{ style.input_type }}"
                   {% if field.value is not None %}value="{{ field.value }}"{% endif %}>
        {% else %}
        <input name="{{ field.name }}" class="m--name-{{ field.name }} js-form-field form-control"
                   type="{{ style.input_type }}"
                   {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
                   {% if field.value is not None %}value="{{ field.value }}"{% endif %}
                   {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}>
        {% endif %}
         <div class="col-sm-10">
            <small class="js-field-error text-danger">
            </small>
          </div>

        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}

        {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
    </div>
</div>
