{% load static %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/es6/plugins/serialize-object.js' %}"></script>
<script src="{% static 'libs/fancybox/dist/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
