b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}
u,
ins {
    text-decoration: underline;
}

strike,
del {
    text-decoration: line-through;
}

a {
   color: $link-color;
    outline: none;
    & > .fas, .fa {
        color: $color-grey;
    }
}
i {
    &.fas, &.fa {
        font-size:18px;
    }
}
.table {
    tr.m--cursor{
        cursor:help;
    }
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.hidden {
    display: none;
}

.flex {
    display: flex;
}
.m--upper {
    text-transform: uppercase;
}
.m--bold {
    font-weight: 700;
}

.m--without__margin {
    margin: 0;
}
.m--without__margin-bottom {
    margin-bottom: 0;
}
.m--without__margin-top {
    margin-top: 0;
}
.title {
    margin:25px 0;
    & h1 {
        font-size:30px;
    }
    & h2 {
        font-size:25px;
    }
}
.pagination {
    & a {
        color: $link-color;
    }
}
.page-item {
    &.active {
        & .page-link {
            background-color:$link-color;
            border-color:$link-color;
        }
    }
}
