*,
*::before,
*::after {
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
html {
    min-width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  font-size: 12px;
  font-family: Roboto, sans-serif;
line-height: 1.5;
color: #212529;
text-align: left;
}
