/* Fonts */
/* Directories */
$static: /static;
$dir-i: $static/i;
$dir-icon: $dir-i/icon;
$dir-background: $dir-i/background;
$dir-image: $dir-i/image;
$dir-sprite: $dir-i/sprite;

/* Colors */
$color-white: #ffffff;
$color-black: #272727;
$color-grey: rgb(33, 37, 41);
$color-light-grey: #f2f2f2;
$color-blue: #5DABF7;
$link-color: rgb(0, 86, 179);

/* Backgrounds */
$bg-silver: #f2f2f2;
$bg-light-grey: #e9ecef;
$bg-grey: #dee2e6;

/* Responsive  */
$document-width-xl: 1921px;
$container-width-xl: 1360px;
$margin-left-xl: 115px;

$document-width-l: 1361px;
/*$container-width-l: 1361px;*/
$container-width-l: 1248px;
$margin-left-l: 115px;

$document-width-m: 1001px;
$container-width-m: 1001px;
$margin-left-m: 90px;

$document-width-s: 721px;
$container-width-s: 721px;
$margin-left-s: 90px;

$document-width-xs: 321px;
$container-width-xs: 321px;
$margin-left-xs: 30px;

