{% extends 'app/base.html' %}
{% block content %}
    {% block messages %}
        <div class="container">
            <h3 class=" text-center mt-2 mb-3">{{ room_profile.name }}</h3>
            <div class="messaging">
                <div class="inbox_msg">
                    <div class="mesgs">
                        <div class="msg_history js-message-body">
                            {% for message in messages %}
                                {% if message.sender == request.user %}
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>{{ message.message }}</p>
                                                <span class="time_date">{{ message.updated }}</span></div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>{{ message.message }}</p>
                                            <div class="msg-detail d-flex justify-content-between">
                                                <span class="time_date">{{ message.updated }}</span>
                                                <span class="time_date mr-5">{{ room_profile.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                {% block room-form %}
                                    <form action="{% url 'vendor:room_detail' pk=room_profile.room.pk %}"
                                          class="js-form-message">
                                        <input type="text" name="message" class="js-form-field write_msg js-message"
                                               placeholder="Ваше сообщение"/>
                                        <input type="hidden" name="room" class="js-form-field"
                                               value="{{ room_profile.room.pk }}"/>
                                        <button class="msg_send_btn js-message-send" type="submit"
                                                data-room="{{ room_profile.room.pk }}">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </form>
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}