{% extends 'app/base.html' %}
{% load rest_framework %}

{% block content %}
    {% block rooms %}
        <div class="events mt-2">
            <div class="events__title title"><h1>Ваши последние контакты</h1></div>
            {% block rooms__link-message %}
                <div class="row">
                    <div class="col-12 mt-3 mb-3">
                        <a href="{% url 'vendor:rooms' %}" class="js-room-create btn btn-light btn-block rounded-0">Написать сообщение</a>
                    </div>
                </div>
            {% endblock %}

            <div class="events-items">
                {% for room in rooms %}
                    <div class="event-item alert alert-secondary alert-dismissible fade show"
                         role="alert">
                        <div class="event-item__title d-flex justify-content-between">
                            {% block rooms__link-detail %}
                                <a href="{% url 'vendor:room_detail' pk=room.room.pk %}">{{ room.name }}</a>
                            {% endblock %}
                            {% if room.unread > 0 %}
                                <strong>новых сообщений: {{ room.unread }}</strong>
                            {% endif %}
                        </div>
                        {% block button-room__disable %}
                            <button type="button" class="close js-room-disable" data-dismiss="alert"
                                    aria-label="Close" data-action="">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endblock %}