{% extends 'app/interfaces/profile/profile.html' %}
{% load widget_tweaks %}
{% load rest_framework %}
{% block profile__content %}
    {% block messages %}
        {{ block.super }}
    {% endblock %}
    {% block button__create %}
        <div class="row">
            <div class="col-12">
                <button class="btn btn-light btn-block rounded-0 js-car-create">Добавить машину</button>
            </div>
        </div>
    {% endblock %}
    {% block profile__table %}
        {% if cars %}
            <div class="row mb-5 profile__table-wrapper js-profile-items-wrapper">
                <div class="col">
                    <table class="table pr">
                        <thead>
                        <tr>
                            <th>Марка/модель</th>
                            <th>Гос. номер</th>
                            <th>Номер прицепа</th>
                            <th>Грузоподъемность, т</th>
                            <th>Кол-во осей с прицепом</th>
                            <th>Тип выгрузки</th>
                            <th>Ваш комментарий</th>
                            <th class="text-right"><i class="fas fa-lock-open"></i></th>
                            <th class="text-center"><i class="fas fa-edit"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cars %}
                            <tr class="js-profile-item {{ item.publication|yesno:",table-secondary" }}"
                                    {% if item.manager_comment and not item.publication %}
                                data-toggle="tooltip" data-placement="top"
                                title="{{ item.manager_comment }}" {% endif %} id="item-{{ item.pk }}">
                                <td>{{ item.brand }}</td>
                                <td>{{ item.gos_num }}</td>
                                <td>{{ item.trailer_num }}</td>
                                <td>{{ item.carrying }}</td>
                                <td>{{ item.axis_num }}</td>
                                <td>{{ item.get_unloading_display }}</td>
                                <td>{{ item.comment }}</td>
                                <td class="text-right">
                                    <div class="profile-table__ban">
                                        <div class="profile-table__ban-text ml-1"
                                                {% if item.manager_comment %} data-toggle="tooltip" data-placement="top"
                                             title="{{ item.manager_comment }}" {% endif %}>
                                            {{ item.publication|yesno:"активен, заблокирован" }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% block profile__edit-link%}
                                        <a href="{% url 'staff:vendor_car' vendor_pk=vendor.pk pk=item.pk %}"
                                           class="js-edit-item" data-pk="{{ vendor.pk }}">ред.</a>
                                    {% endblock %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block profile__form %}
        {% block form-hidden %}
            {% if vendor %}
                <div class="form-wrapper d-none js-form-wrapper">
                    <form class="js-form-hidden form-horizontal"
                          action="{% if serializer.action %}{{ serializer.action }}{% endif %}"
                          enctype="multipart/form-data"
                          method="POST">
                        {% csrf_token %}
                        {% render_form serializer template_pack='app/includes/forms/standart' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0">
                                <button type="submit" class="btn btn-success js-form-submit">Добавить машину
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
{% endblock %}
