{% extends 'app/interfaces/profile/profile.html' %}
{% load widget_tweaks %}
{% load rest_framework %}

{% block profile__menu %}
    <div class="row">
        <div class="col menu">
            {% if profile_menu and vendor %}
                <ul class="nav nav-tabs">
                    {% for item in profile_menu %}
                        {% url item.url as url %}
                        <li class="nav-item">
                            <a href="{{ url }}"
                               class="nav-link {% if request.path == url %}active{% endif %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block profile__content %}
    {% block messages %}
        {{ block.super }}
    {% endblock %}
    {% block cities %}
        {% block profile__form %}
            {% block form-hidden %}
                {% if vendor %}
                    <div class="form-wrapper js-form-wrapper">
                        <form class="js-form-hidden form-horizontal"
                              action="{% if serializer.action %}{{ serializer.action }}{% endif %}"
                              enctype="multipart/form-data"
                              method="POST">
                            {% csrf_token %}
                            {% render_form serializer template_pack='app/includes/forms/standart' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0">
                                    <button type="submit" class="btn btn-success js-form-submit">Добаить город
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}
