{% extends 'app/interfaces/profile/profile.html' %}
{% load rest_framework %}
{% load widget_tweaks %}

{% block profile__content %}
    <div class="profile profile__documents">
        {% block messages %}
            {{ block.super }}
        {% endblock %}
        {% block button__create %}
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-light btn-block rounded-0 js-document-create">Добавить договор</button>
                </div>
            </div>
        {% endblock %}
        {% block profile__table %}
            {% if documents %}
                <div class="profile-table js-profile-items-wrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Номер договора</th>
                            <th>Дата заключения</th>
                            <th>Скан договора</th>
                            <th>Ваш комментарий</th>
                            <th class="text-right"><i class="fas fa-lock-open"></i></th>
                            <th class="text-center"><i class="fas fa-edit"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in documents %}
                            <tr class="js-profile-item {{ item.publication|yesno:",table-secondary" }}"
                                    {% if item.manager_comment and not item.publication %}
                                data-toggle="tooltip" data-placement="top"
                                title="{{ item.manager_comment }}" {% endif %} id="item-{{ item.pk }}">
                                <td>{{ item.num }}</td>
                                <td>{{ item.sign_date }}</td>
                                <td>
                                    {% if item.file_scan %}
                                        <a href="/media/{{ item.file_scan }}" download="">скачать</a>
                                    {% endif %}

                                </td>
                                <td>{{ item.comment }}</td>
                                <td>
                                    <div class="profile-table__ban">
                                        <div class="text-right profile-table__ban-text ml-1"
                                                {% if item.manager_comment %} data-toggle="tooltip" data-placement="top"
                                             title="{{ item.manager_comment }}" {% endif %}>
                                            {{ item.publication|yesno:"активен, заблокирован" }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% block profile__edit-link%}
                                        <a href="{% url 'staff:vendor_document' vendor_pk=vendor.pk pk=item.pk %}"
                                           class="js-edit-item" data-pk="{{ vendor.pk }}">ред.</a>
                                    {% endblock %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endblock %}
        {% block profile__form %}
            {% block form-hidden %}
                {% if vendor %}
                    <div class="form-wrapper d-none js-form-wrapper">
                        <form id="form-document-{{ vendor.pk }}" class="js-form-hidden form-horizontal"
                              action="{% if serializer.action %}{{ serializer.action }}{% endif %}"
                              enctype="multipart/form-data"
                              method="POST">
                            {% csrf_token %}
                            {% render_form serializer template_pack='app/includes/forms/standart' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0">
                                    <button type="submit" class="btn btn-success js-form-submit">Добавить договор
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
