{% extends 'app/interfaces/profile/profile.html' %}
{% load widget_tweaks %}
{% load rest_framework %}


{% block profile__menu %}
    <div class="row">
        <div class="col menu">
            {% if profile_menu and vendor %}
                <ul class="nav nav-tabs">
                    {% for item in profile_menu %}
                        {% url item.url as url %}
                        <li class="nav-item">
                            <a href="{{ url }}"
                               class="nav-link {% if request.path == url %}active{% endif %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block profile__content %}
    {% block messages %}
        {{ block.super }}
    {% endblock %}
    {% block button__create %}
        <div class="row">
            <div class="col-12">
                <button class="btn btn-light btn-block rounded-0 js-driver-create">Добавить водителя</button>
            </div>
        </div>
    {% endblock %}
    {% block profile__table %}
        {% if drivers %}
            <div class="row mb-5 profile__table-wrapper js-profile-items-wrapper">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Паспорт</th>
                            <th>Водит. удостоверение</th>
                            <th>Телефон</th>
                            <th>Стаж лет</th>
                            <th>Ваш комментарий</th>
                            <th class="text-right"><i class="fas fa-lock-open"></i></th>
                            <th class="text-center"><i class="fas fa-edit"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in drivers %}
                            <tr class="js-profile-item {{ item.publication|yesno:",table-secondary" }}"
                                    {% if item.manager_comment and not item.publication %}
                                data-toggle="tooltip" data-placement="top"
                                title="{{ item.manager_comment }}" {% endif %} id="item-{{ item.pk }}">
                                <td>{{ item.name }}</td>
                                <td>{{ item.passport }}</td>
                                <td>{{ item.license }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.experience }}</td>
                                <td>{{ item.comment }}</td>
                                <td>
                                    <div class="profile-table__ban">
                                        <div class="text-right profile-table__ban-text ml-1">
                                            {{ item.publication|yesno:"активен, заблокирован" }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% block profile__edit-link %}
                                        <a href="{% url 'staff:vendor_driver' vendor_pk=vendor.pk pk=item.pk %}"
                                           class="js-edit-item" data-pk="{{ vendor.pk }}">ред.</a>
                                    {% endblock %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block profile__form %}
        {% block form-hidden %}
            {% if vendor %}
                <div class="form-wrapper d-none js-form-wrapper">
                    <form class="js-form-hidden form-horizontal"
                          action="{% if serializer.action %}{{ serializer.action }}{% endif %}"
                          enctype="multipart/form-data"
                          method="POST">
                        {% csrf_token %}
                        {% render_form serializer template_pack='app/includes/forms/standart' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0">
                                <button type="submit" class="btn btn-success js-form-submit">Добавить водителя
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}
{% endblock %}
