{% extends 'base.html' %}
{% load templatetags %}
{% block content %}

    {% block profile__header %}
        {% block profile__title %}
            {% if vendor.company_name %}
                <h1 class="h2 mt-3 mb-3">{{ vendor.company_name }}</h1>
            {% endif %}
        {% endblock %}

        {% block profile__menu %}
            <div class="row">
                <div class="col menu">
                    {% if profile_menu and vendor %}
                        <ul class="nav nav-tabs">
                            {% for item in profile_menu %}
                                {% url item.url as url %}
                                <li class="nav-item">
                                    <a href="{{ url }}"
                                       class="nav-link {% if request.path == url %}active{% endif %}">{{ item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    {% endblock %}

    {% block profile__content %}
        {% block messages %}
            {% if messages %}
                <div class="text-alert mt-2 mb-2">
                    {% for message in messages %}
                        {% get_bootstrap_alert_msg message.tags as alert_tag %}
                        <div class="alert alert-{{ alert_tag }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block profile__table %}
            <div class="row mb-4 mt-4">
                <div class="col-7">
                    <p class="h4 mb-3">Контактное лицо</p>
                    <table class="table-borderless">
                        <tbody>
                        <tr>
                            <td width="100"><b>ФИО:</b></td>
                            <td>{{ vendor.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Телефон:</b></td>
                            <td>{{ vendor.phone }}</td>
                        </tr>
                        <tr>
                            <td><b>E-mail:</b></td>
                            <td>{{ vendor.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-5">
                    {% block profile__edit-vendor %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'staff:vendor_detail' pk=vendor.pk %}"
                               class="btn btn-success js-vendor-edit-person"><i class="fas fa-edit"></i>Редактировать</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-7">
                    <p class="h4 mb-3">Информация о предприятии</p>
                    <table class="table-borderless">
                        <tbody>
                        {% if vendor.company_addr %}
                            <tr>
                                <td width="150"><b>Юридический адрес:</b></td>
                                <td>{{ vendor.company_addr }}</td>
                            </tr>
                        {% endif %}

                        {% if vendor.company_post_addr %}
                            <tr>
                                <td><b>Почтовый адрес:</b></td>
                                <td>{{ vendor.company_post_addr }}</td>
                            </tr>
                        {% endif %}
                        {% if vendor.company_inn %}
                            <tr>
                                <td><b>ИНН:</b></td>
                                <td>{{ vendor.company_inn }}</td>
                            </tr>
                        {% endif %}
                        {% if vendor.company_phone %}
                            <tr>
                                <td><b>Телефон:</b></td>
                                <td>{{ vendor.company_phone }}</td>
                            </tr>
                        {% endif %}
                        {% if vendor.company_seo %}
                            <tr>
                                <td><b>ФИО директора:</b></td>
                                <td>{{ vendor.company_seo }}</td>
                            </tr>
                        {% endif %}
                        {% if vendor.company_site %}
                            <tr>
                                <td><b>Веб-сайт:</b></td>
                                <td>{{ vendor.company_site }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-5">
                    {% block profile__edit-company %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'staff:vendor_detail' pk=vendor.pk %}"
                               class="btn btn-success js-vendor-edit-company"><i class="fas fa-edit"></i>Редактировать</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <hr/>
            {% block  profile__user %}
                <div class="row">
                    <div class="col-7">
                        <p class="h4 mt-3 mb-3">Учетные данные</p>
                        <table class="table-borderless">
                            <tbody>
                            {% block profile__id %}
                                <tr>
                                    <td width="100"><b>ID:</b></td>
                                    <td>{{ vendor.user.pk }}</td>
                                </tr>
                            {% endblock %}
                            <tr>
                                <td width="100"><b>Логин:</b></td>
                                <td>{{ vendor.user }}</td>
                            </tr>
                            <tr>
                                <td><b>Статус:</b></td>
                                <td>{{ vendor.user.is_active|yesno:"Учетная запись активна,Учетная запись не активна" }}</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="col-5">
                        {% block profile__edit-password %}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'staff:vendor_detail' pk=vendor.pk %}"
                                   class="btn btn-warning js-user-changepassword"><i
                                        class="fas fa-key"></i>Сменить пароль</a>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
        {% block profile__form %}

        {% endblock %}
    {% endblock %}
{% endblock %}
