.filter {
    margin: 2px 0 20px;
    &__top {
        background: #F2F2F2;
        padding: 20px 0;
    }
    &__bottom {
        background: none;
    }
    &-view {
        &__link {
            &-list {
                & > .fas, .fa {
                    font-size: 25px;
                }
            }
            &-table {
                & > .fas, .fa {
                    font-size: 25px;
                }
            }
        }
    }
}
