.form-wrapper {
    width: 500px;
}
.form-horizontal{
    width: 500px;
}
.form {
    &-field {
        &__error {
            display:inline-block;
            /* min-height: 24px; */
        }
    }
}
