.geo {
    &-object {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top:5px;
        margin-bottom: 5px;
        &.is-children{
            flex-direction: column;
        }
        &__children {
            //margin-left:20px;
            display:none;
            &.is-active {
                display: block;
            }
            &-wrapper {
                flex-basis: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        &__caption{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &-label {
                //margin-right:10px;
                cursor: pointer;
            }
            & input[type='checkbox']{
                margin-right: 10px;
            }
        }
    }
}
.vendor-cities {

    &__district {
        &-name {
            font-size:14px;
            font-weight: bold;
        }
        &-children {
            margin-left: 20px;
        }
    }
    &__region {
        &-name {
            font-size:14px;
        }
        &-children {
            margin-left: 20px;
            display:none;
                    &.is-active {
                        display:block;
                    }
        }
    }
    &__city {
        &-name {
            font-size:12px;
        }
    }
}
