body {
}
.header {
  background: #F2F2F2;
}
.menu {
    &__list{
        &-item {
            background: $color-white;
        }
        &-link {
            color: $color-grey;
            font-size: 14px;
            &:hover {
                color: $color-grey;
                background: $color-light-grey;
            }
        }
    }
}
.logo {
    &__text {
        /* flex-grow: 1; */
    }
    &__image {
        & img {
            max-width: 140px;
        }
    }
}

