.bd-sidenav {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.pages {
    &-content {
        font-size: 14px;
    }
    .highlight {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #f8f9fa;
    }
}
