.user-list {
    .users-table {
        &__row {
            &.m--lock {
                background: $color-light-grey;
                & .users-table__row-btn {
                    & > .icon-unlock {
                        display: none;
                    }
                    & > .icon-lock {
                        display: inline-block;
                    }
                }
            }
            &-btn {
                @mixin link-icon;
                & > .icon-lock {
                    display: none;
                }
            }
        }
    }
}

.profile {
    &-table {
        &__ban {
            &-link{
                &:hover {
                    text-decoration: none;
                }
                color: $color-grey;
                & .fa {
                    font-size: 18px;
                }
            }
            &-text{
                position: relative;
                &.m--cursor{
                    cursor: help;
                }
                &-comment{
                    display:none;
                    position: absolute;
                    background:red;
                    bottom:0;
                    left:100%;
                    padding: 20px;
                }
                &:hover{
                    .profile-table__ban-text-comment{
                        display: block;
                    }
                }
            }
        }
    }
}
