.tender {
  &__top {
    background: #D6D6D6;
    &-name{
      font-size:15px;
      text-transform: uppercase;
      text-decoration:underline;
      &:hover {
          text-decoration: none;
      }
      &-code {
          font-size: 24px;
      }
    }
  }
  &-list {
    &__table {
      & .thead-light {
        & th {
          border-top: 2px solid $color-white;
          border-right: 1px solid $color-white;
          border-bottom: 1px solid $color-white;
          vertical-align: middle;
          text-align: center;
          &:last-child{
            border-right: 0;
          }
        }
      }
      & td {
        text-align: center;
      }
    }
  }
  &__comment {
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 14px;
      padding: 0.01em 16px;
      background-color: $bg-light-grey;
      border-left: 6px solid $bg-grey;
      & p {
          margin: 20px 0;
      }
  }
  &__dateend {
    display: flex;
    align-items: flex-start;
    &-prolong {
      margin-left: 4px;
      font-size: 90%;
      color: green;
    }
  }
}

.obj-table {
  &__col {
    &-title {
      background: #E4E4E4;
    }
    &-data {
      background: #F2F2F2;
    }
  }
}

@media (max-width: 1140px){
    .bet{
        &__input {
            min-height: 75px;
        }
    }
}
