{% extends 'app/interfaces/notices/list.html' %}
{% block notices__clear %}
    <a href="#" data-action="{% url 'staff:notices' %}" class="js-notices-clear btn btn-success btn-sm">Отметить все прочитанными</a>
{% endblock %}

{% block button-notice__disable %}
    <button type="button" class="close js-notice-disable" data-dismiss="alert"
            aria-label="Close" data-action="{% url 'staff:notice_detail' pk=notice.pk %}">
        <span aria-hidden="true">&times;</span>
    </button>
{% endblock %}
