{% extends 'base.html' %}
{% load widget_tweaks %}
{% load templatetags %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block content %}
    {% block messages %}
        {% if messages %}
            <div class="text-alert">
                {% for message in messages %}
                    {% get_bootstrap_alert_msg message.tags as alert_tag %}
                    <div class="alert  alert-{{ alert_tag }} show " role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block form %}
        {% if form %}
            <form class="form" action="{% url 'staff:vendor_add' %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group row">
                    <label for="{{ form.name.name }}" class="col-sm-3
                            col-form-label">ФИО</label>
                    <div class="col-sm-9">
                        {% render_field form.name class+="form-control" placeholder=form.name.label %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.phone.name }}" class="col-sm-3 col-form-label">Телефон</label>
                    <div class="col-sm-9">
                        {% render_field form.phone class+="form-control" placeholder=form.phone.label %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.email.name }}" class="col-sm-3 col-form-label">E-mail</label>
                    <div class="col-sm-9">
                        {% render_field form.email class+="form-control-file" placeholder=form.email.label %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.company_name.name }}" class="col-sm-3 col-form-label">Название компании</label>
                    <div class="col-sm-9">
                        {% render_field form.company_name class+="form-control" placeholder=form.company_name.label %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.company_addr.name }}" class="col-sm-3 col-form-label">Адрес компании</label>
                    <div class="col-sm-9">
                        {% render_field form.company_addr class+="form-control" placeholder=form.company_addr.label %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.company_post_addr.name }}" class="col-sm-3 col-form-label">Почтовый
                        адрес</label>
                    <div class="col-sm-9">
                        {% render_field form.company_post_addr class+="form-control" %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.company_phone.name }}" class="col-sm-3 col-form-label">Телефон
                        (компании)</label>
                    <div class="col-sm-9">
                        {% render_field form.company_phone class+="form-control" %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.company_inn.name }}" class="col-sm-3 col-form-label">ИНН</label>
                    <div class="col-sm-9">
                        {% render_field form.company_inn class+="form-control" %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.password.name }}" class="col-sm-3 col-form-label">password</label>
                    <div class="col-sm-9">
                        {% render_field form.password class+="form-control" %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.retype_password.name }}" class="col-sm-3 col-form-label">retype_password</label>
                    <div class="col-sm-9">
                        {% render_field form.retype_password class+="form-control" type='text' %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.username.name }}" class="col-sm-3 col-form-label">username</label>
                    <div class="col-sm-9">
                        {% render_field form.username class+="form-control" %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-success">Save person</button>
            </form>
        {% endif %}
        {% if form_sent %}
            <a href="{% url 'staff:vendor_list' %}">вернуться назад</a>
        {% endif %}
    {% endblock %}
{% endblock %}
