{% load rest_framework %}
<form class="form-horizontal {% if form.type %}js-form-{{ form.type|lower }}{% else %}js-form{% endif %}"
      action="{% if form.action %} {{ form.action }}{% endif %}" enctype="multipart/form-data"
      method="POST">
    {% csrf_token %}
    {% render_form form template_pack='app/includes/forms/standart' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 pr-0 pl-0 d-flex justify-content-between">
            {% if form_delete_button %}
                <a class="btn btn-danger js-delete-item">Удалить</a>
            {% endif %}
            <button type="submit"
                    class="btn btn-success js-form-submit">{% if form.submit %}{{ form.submit }}{% else %}Отправить{% endif %}
            </button>
        </div>
    </div>
</form>

