{% load widget_tweaks %}
{% load templatetags %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="form-wrapper m--profile">
        {% block messages %}
            {% if messages %}
                <div class="text-alert">
                    {% for message in messages %}
                        {% get_bootstrap_alert_msg message.tags as alert_tag %}
                        <div class="alert  alert-{{ alert_tag }} show " role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {% block form %}
            {% if form %}
                <form method="post" action="{{ action }}" class="form js-form-popup">
                    <div class="csrf">
                        {% csrf_token %}
                    </div>
                    {{ form|crispy }}
{#                    <a class="btn btn-success js-form-submit text-white">Отправить</a>#}
                    <button class="btn btn-success">Отправить</button>
                </form>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
