{% load widget_tweaks %}
{% if form.errors %}
    <p>Логин и пароль не совпадают</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>У вас нет прав для просмотра данной страницы.</p>
    {% else %}
        <p>Данные не верны.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>

    <div class="form-group row">
        {#  {{ form.username.label_tag }}#}
        <label for="{{ form.username.name }}" class="col-sm-3 col-form-label">Пользователь</label>
        <div class="col-sm-9">
            {% render_field form.username class+="form-control" placeholder=form.username.label %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.password.name }}" class="col-sm-3 col-form-label">Пароль</label>
        <div class="col-sm-9">
            {% render_field form.password class+="form-control" placeholder=form.password.label %}
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-success">Войти</button>
        </div>
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'change_password' %}">Забыли пароль?</a></p> -->

