{% extends 'app/interfaces/tender/tender.html' %}
{% block tender__status %}
    <div class="col-8">
        {% if tender.status == 'archive' %}
            <div class="row d-flex justify-content-end">
                {% if tender.user_winner == request.user %}
                    <div class="col-4">
                        {% if tender.achieved_data %}
                            <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                                <div class="d-flex justify-content-center">
                                    <span class="mr-2"><i class="fas fa-check-square"></i></span>
                                    <span class="h6 m-0">Документы<br> получены</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-warning m-0 w-100 p-2 rounded-0">
                                <div class="d-flex justify-content-center">
                                    <span class="mr-2"></span>
                                    <span class="h6 m-0">Документы<br>НЕ получены</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        {% if tender.confirmed %}
                            <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                                <div class="d-flex justify-content-center">
                                    <span class="mr-2"><i class="fas fa-check-square"></i></span>
                                    <span class="h6 m-0">Сыграл. <br> Подтвержден</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-warning m-0 w-100 p-2 rounded-0">
                                <div class="d-flex justify-content-center">
                                    <span class="mr-2"></span>
                                    <span class="h6 m-0">Не подтвержден</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-end h-100">
                            <div class="col">
                                <div class="alert alert-secondary m-0 w-100 p-2 rounded-0 h-100">
                                    <div class="d-flex justify-content-center align-items-center h-100">
                                        <span class="mr-2"><i class="fas fa-hourglass-end"></i></span>
                                        <span class="h6 m-0">{{ tender.get_status_display }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    {% if tender.user_winner and tender.confirmed and tender.achieved_data %}
                        <div class="col-4">
                            <div class="alert alert-warning m-0 w-100 p-2 rounded-0">
                                <div class="d-flex justify-content-center">
                                    <span class="mr-2"><i class="fas fa-trophy"></i></span>
                                    <span class="h6 m-0">Была победа</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-4">
                        <div class="alert alert-secondary m-0 w-100 p-2 rounded-0">
                            <div class="d-flex justify-content-center">
                                <span class="mr-2"><i class="fas fa-hourglass-end"></i></span>
                                <span class="h6 m-0">{{ tender.get_status_display }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block tender__best-bet-val %}
    {% if tender.status == "archive" %}
        {% if tender.user_bet %}
            {% if tender.user_bet == tender.bet_min %}
                <span class="font-weight-bold text-success">{{ tender.bet_min }}</span>
            {% else %}
                <span class="font-weight-bold">{{ tender.bet_min }}</span>
                <br>
                (
                <span class="font-weight-bold text-danger">{{ tender.user_bet }}</span>
                )
            {% endif %}
        {% elif tender.bet_min %}
            <span class="font-weight-bold">{{ tender.bet_min }}</span>
        {% else %}
            <span class="font-weight-bold"> - </span>
        {% endif %}
    {% elif tender.status == "closed" %}
        {{ vendor.company_name }}<br>
        (
        <span class="font-weight-bold text-success">{{ tender.user_bet }}</span>
        )
    {% endif %}
{% endblock %}
