{% extends  'app/base.html' %}
{% load templatetags %}
{% block content %}
    {% block breadcrumbs %}
        <div class="row">
            <div class="col breadcrumb"></div>
        </div>
    {% endblock %}
    <div class="row">
        <div class="col-12">
            {% block detail %}
                {% block detail__errors %}
                    {% if messages %}
                        <div class="text-alert">
                            {% for message in messages %}
                                {% get_bootstrap_alert_msg message.tags as alert_tag %}
                                <div class="alert alert-{{ alert_tag }}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
                {% block detail__header %}
                    <div class=""><span class="font-weight-bold h3 mr-2">№{{ tender.code }}</span> <span
                            class="h4">{{ tender.name }}</span></div>
                    <div class="row mt-4">
                        <div class="col">
                            <h5>Общие данные</h5>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-4">
                            <div>Тип тендера: <b>{{ tender.type }}</b></div>
                            <div>Начало торгов: <b>{{ tender.date_start }}</b></div>
                            <div class="tender__dateend">
                                <div class="tender__dateend-date">
                                    Окончание торгов: <b>{{ tender.date_end }}</b>
                                </div>
                                {% if tender.prolong %}
                                    <div class="tender__dateend-prolong">
                                            ( +{{tender.get_prolong.hour}}ч.:{{tender.get_prolong.minute}}м. )
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                {% block detail__data %}
                                    <div class="col-4">
                                        {% block detail__tender-bet-status %}
                                            {% if tender.bet_start %}
                                                <div>Начальная ставка: <b>{{ tender.bet_start }}</b></div>
                                            {% endif %}
                                            {% block detail__bet-win %}
                                                {% if tender.bet_win %}
                                                    <div>Лучшая ставка: <b class="">{{ tender.bet_win }}</b></div>
                                                {% endif %}
                                                {% if bet_min_user %}
                                                    <div class="">Ваша ставка:
                                                        <b class="{% if bet_min_user == tender.bet_win %}text-success{% else %}text-danger{% endif %}">{{ bet_min_user }}
                                                        </b>
                                                    </div>
                                                {% endif %}
                                            {% endblock %}
                                            <div><a href="#">история ставок</a></div>
                                        {% endblock %}
                                    </div>
                                    <div class="col-3">
                                        {% block detail__tender-status %}
                                            {% if tender.status == "new" %}
                                                {% define "secondary" as alert_classname %}
                                                {% define "fa-hourglass-start" as icon_classname %}
                                            {% elif tender.status == "played" %}
                                                {% define "primary" as alert_classname %}
                                                {% define "fa-hourglass-half" as icon_classname %}
                                            {% elif tender.status == "closed" %}
                                                {% define "secondary" as alert_classname %}
                                                {% define "fa-hourglass-end" as icon_classname %}
                                            {% endif %}
                                            <div class="alert alert-{{ alert_classname }} rounded-0 m-0 p-2">
                                                <div class="d-flex justify-content-center">
                                                    <span class="mr-2"><i class="fas {{ icon_classname }}"></i></span>
                                                    <span class="h6 m-0">{{ tender.get_status_display }}</span>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block detail__task %}
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Пункт отправления</th>
                                    <th scope="col">Пункт назначения</th>
                                    <th scope="col">Наименование груза</th>
                                    <th scope="col">Дата/время погрузки</th>
                                    <th scope="col">Дата/время выгрузки</th>
                                    <th scope="col">Вес/кол-во паллет</th>
                                    <th scope="col">Тип ТС</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.point_from }}</td>
                                        <td>{{ task.point_to }}</td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.date_start }}</td>
                                        <td>{{ task.date_end }}</td>
                                        <td>{{ task.weight }}</td>
                                        <td>{{ task.get_vehicle_display }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endblock %}
                {% block detail__comment %}
                    {% if tender.comment %}
                        <div class="row">
                            <div class="col">
                                <div class="tender__comment text">
                                    <p>{{tender.comment|safe}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block detail__winner %}
                {% endblock %}
                {% block detail__bets %}
                    {% if bets %}
                        <div class="row mt-5">
                            <div class="col">
                                <div class="row">
                                    <div class="col-6">
                                        <h5>История ставок</h5>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        {% block detail__bet-cancel %}

                                        {% endblock %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-sm table-stripped">
                                            <thead class="thead-light">
                                            <tr>
                                                {#                                        <th scope="col">#</th>#}
                                                <th scope="col">Поставщик</th>
                                                <th scope="col">Время ставки</th>
                                                <th scope="col">Ставка</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for bet in bets %}
                                                {% if bet.publication %}
                                                    <tr class="{% if bet.bet == tender.bet_win %}table-success{% endif %}">
                                                        <td>{{ bet.user.vendoruser.company_name }}</td>
                                                        <td>{{ bet.pub_date }}</td>
                                                        <td>{{ bet.bet }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="table-danger">
                                                        <td>{{ bet.user.vendoruser.company_name }}</td>
                                                        <td>{{ bet.pub_date }}</td>
                                                        <td>{{ bet.bet }}: отказ от ставки</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
