{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% load tz %}
{% block content %}
    <div class="row">
        <div class="col main">
            {% block top_filter %}
                {% include "app/includes/top_filter.html" with filter=filter %}
            {% endblock %}
            <div class="row content">
                <div class="col">
                                    {% include "app/includes/pagination.html" %}
                    {% for tender in object_list %}
                        <div class="row">
                            <div class="col tender">
                                <div class="row tender__top justify-space-between pt-2 pb-2">
                                    <div class="col-4 d-flex align-items-center">
                                        <span class="mr-3 tender__top-name-code">{{ tender.code }}</span>
                                        {% block detail_link %}
                                            <a href="{% url 'vendor:tender_detail' pk=tender.pk %}"
                                               class="tender__top-name">{{ tender.name }}</a>
                                        {% endblock %}
                                    </div>
                                    <div class="col-8">
                                        <div class="row d-flex align-items-center justify-content-between">
                                            <div class="col-4">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <b>Начало торгов:</b>
                                                    </div>
                                                    <div class="col-12">
                                                        {{ tender.date_start | localtime }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <b>Окончание торгов:</b>
                                                    </div>
                                                    <div class="col-12 tender__dateend">
                                                        <div class="tender__dateend-date">
                                                                {{ tender.date_end | localtime }}
                                                        </div>
                                                        {% if tender.prolong %}
                                                            <div class="tender__dateend-prolong">
                                                                    ( +{{tender.get_prolong.hour}}ч.:{{tender.get_prolong.minute}}м. )
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% block tender__status %}
                                                <div class="col-6">
                                                    {#                                                {% block tender__status %}#}
                                                    {% if tender.status == 'new' %}
                                                        <div class="row d-flex justify-content-end">
                                                            <div class="col-6">
                                                                <div class="alert alert-light m-0 w-100 p-2 rounded-0">
                                                                    <div class="d-flex justify-content-center">
                                                                    <span class="mr-2"><i
                                                                            class="fas fa-hourglass-start"></i></span>
                                                                        <span class="h6 m-0">{{ tender.get_status_display }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elif tender.status == 'played' %}
                                                        <div class="row d-flex justify-content-end">
                                                            <div class="col-6">
                                                                <div class="alert alert-primary m-0 w-100 p-2 rounded-0">
                                                                    <div class="d-flex justify-content-center">
                                                            <span class="mr-2"><i
                                                                    class="fas fa-hourglass-half"></i></span>
                                                                        <span class="h6 m-0">{{ tender.get_status_display }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elif tender.status == 'closed' %}
                                                        {% block tender__status-closed %}
                                                            <div class="row d-flex justify-content-end">
                                                                {% if tender.user_winner == request.user %}
                                                                    <div class="col-6">
                                                                        {% if tender.achieved_data %}
                                                                            <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                                                                                <div class="d-flex justify-content-center">
                                                                    <span class="mr-2"><i
                                                                            class="fas fa-check-square"></i></span>
                                                                                    <span class="h6 m-0">Документы<br> получены</span>
                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="alert alert-warning m-0 w-100 p-2 rounded-0">
                                                                                <div class="d-flex justify-content-center">
                                                                                    <span class="mr-2"></span>
                                                                                    <span class="h6 m-0">Документы<br>НЕ получены</span>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col-6">
                                                                        {% if tender.confirmed %}
                                                                            <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                                                                                <div class="d-flex justify-content-center">
                                                                    <span class="mr-2"><i
                                                                            class="fas fa-check-square"></i></span>
                                                                                    <span class="h6 m-0">Сыграл. <br> Подтвержден</span>
                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="alert alert-warning m-0 w-100 p-2 rounded-0 h-100 d-flex align-items-center justify-content-center">
                                                                                <div class="d-flex justify-content-center">
                                                                                    <span class="mr-2"></span>
                                                                                    <span class="h6 m-0">Не подтвержден</span>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                {% else %}
                                                                    <div class="col-6">
                                                                        <div class="alert alert-secondary m-0 w-100 p-2 rounded-0">
                                                                            <div class="d-flex justify-content-center">
                                                                        <span class="mr-2"><i
                                                                                class="fas fa-hourglass-end"></i></span>
                                                                                <span class="h6 m-0">{{ tender.get_status_display }}</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        {% endblock %}
                                                    {% endif %}
                                                </div>
                                            {% endblock %}

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="w-100">
                                        <table class="table tender-list__table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Пункт отправления</th>
                                                <th scope="col">Пункт назначения</th>
                                                <th scope="col">Наименование груза</th>
                                                <th scope="col">Дата/время погрузки</th>
                                                <th scope="col">Дата/время выгрузки</th>
                                                <th scope="col">Вес/кол-во паллет</th>
                                                <th scope="col">Тип ТС</th>
                                                <th>
                                                    {% block tender__best-bet-text %}
                                                        {% if tender.status == "new" and tender.bet_init %}
                                                            Начальная ставка
                                                        {% else %}
                                                            Лучшая ставка
                                                        {% endif %}
                                                    {% endblock %}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for task in tender.tasks.all %}
                                                <tr>
                                                    <td>{{ task.point_from }}</td>
                                                    <td>{{ task.point_to }}</td>
                                                    <td>{{ task.name }}</td>
                                                    <td>{{ task.date_start | localtime }}</td>
                                                    <td>{{ task.date_end | localtime }}
                                                    </td>
                                                    <td>{{ task.weight }}</td>
                                                    <td>{{ task.get_vehicle_display }}</td>
                                                    <td>
                                                        {% block tender__best-bet-val %}
                                                            {% if tender.status == "new" %}
                                                                {% if tender.bet_init %}
                                                                    {{ tender.bet_init }}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            {% elif tender.status == "played" %}
                                                                {% if tender.user_bet %}
                                                                    {% if tender.user_bet == tender.bet_min %}
                                                                        <span class="font-weight-bold text-success">{{ tender.bet_min }}</span>
                                                                    {% else %}
                                                                        <span class="font-weight-bold">{{ tender.bet_min }}</span>
                                                                        <br>
                                                                        (
                                                                        <span class="font-weight-bold text-danger">{{ tender.user_bet }}</span>
                                                                        )
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="font-weight-bold">{{ tender.bet_min }}</span>
                                                                {% endif %}
                                                            {% elif tender.status == "closed" %}
                                                                {{ vendor.company_name }}<br>
                                                                (
                                                                <span class="font-weight-bold text-success">{{ tender.user_bet }}</span>
                                                                )
                                                            {% endif %}
                                                        {% endblock %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include "app/includes/pagination.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
