{% extends 'app/base.html' %}

{% block header %}

{% endblock %}

{% block content %}
    {#    {% form.username %}#}
    <div class="row justify-content-md-center d-flex align-items-center h-100">
        <div class="col-md-4 ">
            {% if request.user.is_authenticated %}
                <h2>{{ request.user.username }}</h2>
                {% else %}
                    {% include "app/includes/forms/login.html" %}
            {% endif %}

        </div>
    </div>

{% endblock %}