@define-mixin link-icon {
    color: $color-grey;
    
    &:hover {
        color: $color-blue;
        text-decoration: none;
    }
    
    & > i {
        font-style: normal;
        font-size: 18px;
    }
}
