{% extends 'app/interfaces/messages/room_list.html' %}
{% block rooms__link-message %}
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <a href="{% url 'staff:rooms' %}" class="js-room-create btn btn-light btn-block rounded-0">Написать
                сообщение</a>
        </div>
    </div>
{% endblock %}
{% block rooms__link-detail %}
    <a href="{% url 'staff:room_detail' pk=room.room.pk %}">{{ room.name }}</a>
{% endblock %}