{% extends 'app/interfaces/messages/room_detail.html' %}
{% block room-form %}
    <form action="{% url 'staff:room_detail' pk=room_profile.room.pk %}"
          class="js-form-message">
        <input type="text" name="message" class="js-form-field write_msg js-message"
               placeholder="Ваше сообщение"/>
        <input type="hidden" name="room" class="js-form-field"
               value="{{ room_profile.room.pk }}"/>
        <button class="msg_send_btn js-message-send" type="submit"
                data-room="{{ room_profile.room.pk }}">
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>
{% endblock %}