{% extends 'app/interfaces/tender/detail.html' %}
{% load widget_tweaks %}
{% load templatetags %}
{% block detail__data %}
    <div class="col-sm-4 col-4">
        {% if tender.bet_init %}
            <div>Начальная ставка: <b>{{ tender.bet_init }}</b></div>
        {% endif %}
        {% if tender.bet_step %}
            <div>Шаг ставки: <b>{{ tender.bet_step }}</b></div>
        {% endif %}
        {% block detail__bet-win %}
            {% if tender.bet_win %}
                <div>Лучшая ставка: <b class="">{{ tender.bet_win }}</b></div>
            {% endif %}
        {% endblock %}
        <div><a href="#">история ставок</a></div>
    </div>
    {% if tender.bet_enabled_by_status %}
        <div class="col-sm-3 col-3">
            {% block detail__tender-status %}
                {{ block.super }}
            {% endblock %}
        </div>
    {% else %}
        <div class="col-8">
            <div class="row">
                <div class="col-6 col-sm-6">
                    {% if tender.achieved_data %}
                        <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                            <div class="d-flex justify-content-center">
                                <span class="mr-2"><i class="fas fa-check-square"></i></span>
                                <span class="h6 m-0">Документы<br> получены</span>
                            </div>
                        </div>
                    {% elif tender.bet_win %}
                        <div class="alert alert-warning m-0 h-100 w-100 p-2 rounded-0">
                            <div class="d-flex justify-content-center h-100 align-items-center">
                                <span class="mr-2"></span>
                                <span class="h6 m-0">Документы<br>НЕ получены</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-6 col-sm-6">
                    {% if tender.confirmed %}
                        <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                            <div class="d-flex justify-content-center">
                                <span class="mr-2"><i class="fas fa-check-square"></i></span>
                                <span class="h6 m-0">Сыграл. <br> Подтвержден</span>
                            </div>
                        </div>
                    {% elif tender.bet_win %}
                        {#                        <a class="btn btn-warning">Подтвердить</a>#}
                        <div class="alert alert-warning m-0 w-100 h-100 p-2 rounded-0">
                            <div class="d-flex justify-content-center h-100 align-items-center">
                                <span class="mr-2"></span>
                                <span class="h6 m-0">Не подтвержден</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block detail__winner %}
    {% if tender.status == "closed" and tender.user_winner %}
        <div class="row mt-5">
            <div class="col">
                <h5>Данные победителя</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-7 col-sm-7">
                <div class="row">
                    <div class="col-6">
                        <span class="font-weight-bold">Победитель</span><br>
                        <span>{{ vendor.company_name }}</span>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">Предложенная цена:</span><br>
                        <span>{{ tender.bet_win }}</span>
                    </div>

                </div>
            </div>
            <div class="col-5 col-sm-5">
                <div class="row">
                    {#                    TODO отправить сообщение поставщику#}
                    <div class="col-6 justify-content-end d-flex">
                        <a href="#"
                           class=" btn btn-secondary">Отправить сообщение</a>
                    </div>
                    <div class="col-6 justify-content-end d-flex">
                        {% if not tender.confirmed %}
                            <a data-confirmed="true" href="{% url 'staff:tender_detail' pk=tender.id %}"
                               class="js-staff-tender-confirm btn btn-success">Подтвердить данные</a>
                        {% else %}
                            <a data-confirmed="false" href="{% url 'staff:tender_detail' pk=tender.id %}"
                               class="js-staff-tender-confirm btn btn-warning">Отмена подтверждения</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <p class="h6 js-tender-check-data m--car">
                                    <i class="fas fa-check mr-2 text-success {% if not tender.vendor_car %}d-none{% endif %}"></i>
                                    Транспортное средство
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-sm mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Марка машины:</th>
                                        <td style="width:50%"><span id="vendor-car-brand"
                                                  class="js-vendor-car-field">{% if tender.vendor_car.brand %}
                                            {{ tender.vendor_car.brand }}{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Номер машины:</th>
                                        <td><span id="vendor-car-gos_num"
                                                  class="js-vendor-car-field">{% if tender.vendor_car.gos_num %}
                                            {{ tender.vendor_car.gos_num }}{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Номер прицепа:</th>
                                        <td><span id="vendor-car-trailer_num"
                                                  class="js-vendor-car-field">{% if tender.vendor_car.trailer_num %}
                                            {{ tender.vendor_car.trailer_num }}{% endif %}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <p class="h6 js-tender-check-data m--driver"><i
                                        class="fas fa-check mr-2 text-success {% if not tender.vendor_driver %}d-none{% endif %}"></i>Водитель
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-sm mt-3">
                                    <tbody>
                                    <tr>
                                        <th>ФИО:</th>
                                        <td style="width:70%"><span id="vendor-driver-name"
                                                  class="js-vendor-driver-field">{% if tender.vendor_driver.name %}
                                            {{ tender.vendor_driver.name }}{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th>Паспорт:</th>
                                        <td><span id="vendor-driver-passport"
                                                  class="js-vendor-driver-field">{% if tender.vendor_driver.passport %}
                                            {{ tender.vendor_driver.passport }}{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Водительское удостоврение:</th>
                                        <td><span id="vendor-driver-license"
                                                  class="js-vendor-driver-field">{% if tender.vendor_driver.license %}
                                            {{ tender.vendor_driver.license }}{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Телефон:</th>
                                        <td><span id="vendor-driver-phone"
                                                  class="js-vendor-driver-field">{% if tender.vendor_driver.phone %}
                                            {{ tender.vendor_driver.phone }}{% endif %}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block detail__bets %}
    {% if bets %}
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <h5>История ставок</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        {% block detail__bet-cancel %}

                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-sm table-stripped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Поставщик</th>
                                <th scope="col">Время ставки</th>
                                <th scope="col">Ставка</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bet in bets %}
                                {% if bet.publication %}
                                    <tr class="{% if bet.bet == tender.bet_win %}table-success{% endif %}">
                                        <td>
                                            {% if bet.user.vendoruser %}
                                                <a href="{% url 'staff:vendor_detail' pk=bet.user.vendoruser.id %}">{{ bet.user.vendoruser.company_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ bet.pub_date }}</td>
                                        <td>{{ bet.bet }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="table-danger">
                                        <td>{{ bet.user.vendoruser.company_name }}</td>
                                        <td>{{ bet.pub_date }}</td>
                                        <td>{{ bet.bet }}: отказ от ставки</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
