{% extends 'app/interfaces/tender/tender.html' %}
{% block detail_link %}
    <a href="{% url 'staff:tender_detail' pk=tender.id %}" class="tender__top-name">{{ tender.name }}</a>
{% endblock %}

{% block tender__best-bet-val %}
    {% if tender.status == "new" %}
        {% if tender.bet_init %}
            {{ tender.bet_init }}
        {% else %}
            -
        {% endif %}
    {% elif tender.status == "played" %}
        {{ tender.vendor.company_name }}<br>
        (<span class="font-weight-bold">{{ tender.bet_min }}</span>)
    {% elif tender.status == "closed" %}
        {{ tender.user_winner.vendoruser.company_name }}<br>
        (<span class="font-weight-bold text-success">{{ tender.bet_win }}</span>)
    {% endif %}
{% endblock %}

{% block tender__status-closed %}
    <div class="row d-flex justify-content-end">
        <div class="col-6">
            {% if tender.achieved_data %}
                <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                    <div class="d-flex justify-content-center">
                        <span class="mr-2"><i class="fas fa-check-square"></i></span>
                        <span class="h6 m-0">Документы<br> получены</span>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning m-0 w-100 p-2 rounded-0">
                    <div class="d-flex justify-content-center">
                        <span class="mr-2"></span>
                        <span class="h6 m-0">Документы<br>НЕ получены</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            {% if tender.confirmed %}
                <div class="alert alert-success m-0 w-100 p-2 rounded-0">
                    <div class="d-flex justify-content-center">
                        <span class="mr-2"><i class="fas fa-check-square"></i></span>
                        <span class="h6 m-0">Сыграл. <br> Подтвержден</span>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning m-0 w-100 p-2 rounded-0 d-flex align-items-center h-100 justify-content-center">
                    <div class="d-flex justify-content-center">
                        <span class="mr-2"></span>
                        <span class="h6 m-0">Не подтвержден</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
