{% extends 'app/base.html' %}
{% block  body %}
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        </a>
        <div class="navbar-nav-scroll">
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        </ul>
        <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href=""></a>
    </header>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <nav class="bd-docs-nav">
                    <div class='h4'><a href="{% url 'api:category_list' %}">Описание АПИ</a></div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="/api/doc/all/whats_new/">
                           Что нового?
                        </a>
                    </div>

                    {% for category in category_list %}
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="{% url 'api:page_list' category=category.slug  %}">
                            {{category.name}}
                        </a>
                        <ul class="nav bd-sidenav">
                            {% for page in category.pages.all %}
                                <li class="active bd-sidenav-active">
                                    <a href="{% url 'api:page' category=category.slug page=page.slug %}">{{page.title}}</a>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="/api/doc/all/old/">
                            Старая документация
                        </a>
                    </div>

                </nav>
            </div>
            <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                <div class="pages">
                    {% if pages_list %}
                        <ul>
                            {% for page in pages_list %}
                                <li>
                                    <a href="{% url 'api:page' category=page.category.slug page=page.slug %}">{{page.title}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if page %}
                        <div class="pages-content">
                            {{ page.text | safe}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
