{% extends 'app/staff/user_list.html' %}
{% block button__create %}
    <div class="row">
        <div class="col-12">
            <button class="btn btn-light btn-block rounded-0 js-vendor-create">Добавить менеджера</button>
        </div>
    </div>
{% endblock %}
{% block form-hidden__button %}
    <button type="submit" class="btn btn-success js-form-submit">Добавить</button>
{% endblock %}
{% block form-hidden__action %}
    {% url 'staff:manager_list' %}
{% endblock %}
{% block user__list %}
    {% if manager_list %}
        <table class="table table-stripped users-table">
            <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>ФИО</th>
                <th>E-mail</th>
                <th>Телефон</th>
                <th width="30" class="text-center">Отправить сообщение</th>
                <th width="30" class="text-center">Блокировка</th>
                <th width="30" class="text-center">Редактировать данные</th>
                <th width="30" class="text-center">Сменить пароль</th>
            </tr>
            </thead>
            <tbody>
            {% for manager in manager_list %}
                <tr id="item-{{ manager.pk }}"
                    class=" users-table__row js-vendor-row {{ manager.user.is_active|yesno:",m--lock" }}">
                    <td>
                        {{ manager.user.username }}
                    </td>
                    {#                    <td>{{ manager.user.groups.all.0 }}</td>#}
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.email }}</td>
                    <td>{{ manager.phone }}</td>
                    <td class="text-center">
                        <a href="#" class="js-message-send link-icon users-table__row-btn">
                            <i class="fa fa-comment" style="font-size:18px;"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'staff:manager_detail' pk=manager.pk %}"
                           class="js-user-ban users-table__row-btn {{ manager.user.is_active|yesno:",m--lock" }}"
                           data-pk="{{ vendor.pk }}">
                            <i class="fa fa-lock icon-lock"></i>
                            <i class="fa fas fa-lock-open icon-unlock"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'staff:manager_detail' pk=manager.pk %}"
                           class="js-user-edit users-table__row-btn"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'staff:manager_detail' pk=manager.pk %}"
                           class="js-user-changepassword users-table__row-btn"><i class="fas fa-key"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
