{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Электронная тендерная площадка{% endblock %}</title>


    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fancybox/dist/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free/css/all.css' %}" >
    <link rel="stylesheet" href="{% static 'libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 content-wrapper">
            <header class="row header">
                {% block header %}
                    {% include "app/includes/header.html" %}
                {% endblock %}
            </header>
            <section class="main row h-100">
                <div class="col">
                    {% block content %}

                    {% endblock %}
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="footer container-fluid" style="display:none">
    <div class="row">
        <div class="footer__wrapper col-12 col-xl-8">
            {% block footer %}
                {% include "app/includes/footer.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}
{% include "app/includes/dev/scripts.html" %}
</body>
</html>
